/RiceMesh-Transmitter/RiceMesh-Node1/.antigravitycli/
/RiceMesh-Transmitter/RiceMesh-Node2/.antigravitycli/
/RiceMesh-Transmitter/RiceMesh-Node3/.antigravitycli/

/RiceMesh-Transmitter/RiceMesh-Node1/CLAUDE.md
/RiceMesh-Transmitter/RiceMesh-Node2/CLAUDE.md
/RiceMesh-Transmitter/RiceMesh-Node3/CLAUDE.md

/RiceMesh-Transmitter/RiceMesh-Node1/build/
/RiceMesh-Transmitter/RiceMesh-Node2/build/
/RiceMesh-Transmitter/RiceMesh-Node3/build/

/RiceMesh-Transmitter/RiceMesh-Node1/RiceMesh-v2.ioc
/RiceMesh-Transmitter/RiceMesh-Node2/RiceMesh-v2.ioc
/RiceMesh-Transmitter/RiceMesh-Node3/RiceMesh-v2.ioc

/RiceMesh-Receiver/RiceMesh-v4-f030-rx/CLAUDE.md
/RiceMesh-Receiver/RiceMesh-v4-f030-rx/RiceMesh-v4-f030.ioc
/RiceMesh-Receiver/RiceMesh-v4-f030-rx/build/